html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

body {
  margin: 10px auto;
  padding: 0 10px;
  font-size: 18px;
  background-color: peachpuff;
  max-width: 500px;
  text-align: center;
  letter-spacing: 0.5px;
  font-family: 'Lobster', cursive;
}

hr {
  border: 1px solid crimson;
  max-width: 350px;
}

img {
  width: 320px;
}

a:link,
a:visited,
.crimson {
  color: crimson;
  text-decoration: none;
}

a:active {
  color: palevioletred;
}
